* {
  box-sizing: border-box;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */

  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.posts a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
}
.posts a:hover {
  background: #e6e6e6;
}
.posts .blog-date {
  font-family: monospace;
  color: #808080;
}
.posts .blog-date:before {
  content: " - ";
}
