---
layout: 'layouts/base.njk'
---

{% set last = collections.posts | last %}
<h1>{{last.data.title}}</h1>
{{ last.content | safe }}

<ul>
	{%- for entry in collections.posts %}
	<li><a href="{{ entry.url }}"><code>{{ entry.data.title }}</code></a></li>
	{%- endfor %}
</ul>