h1, h2, h3, h4, h5, h6, pre, code {
    font-family: 'Diffusion Web', Georgia, serif;
    color: var(--headline-color);
}

p, span, li {
    &:not(pre *) {
        font-size: var(--text-size);
    }

}

main article {
    p {
        margin-top: 24px;
        line-height: 1.3;
    }

    pre.shiki {
        background-color: var(--code-bg-color) !important;
        padding: 16px;
    }
}

p, span, li {
    &:not(pre *) {
        font-family: 'Metrophobic', Arial, sans-serif;
    }
}

a, a:visited {
    color: var(--link-color);
}