/* https://amorphous.itch.io/diffusion */

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 400;
	font-style: normal;
	src: url('woff2/diffusion-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 400;
	font-style: italic;
	src: url('woff2/diffusion-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 700;
	font-style: normal;
	src: url('woff2/diffusion-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 700;
	font-style: italic;
	src: url('woff2/diffusion-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 300;
	font-style: normal;
	src: url('woff2/diffusion-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Diffusion Web';
	font-weight: 300;
	font-style: italic;
	src: url('woff2/diffusion-lightitalic.woff2') format('woff2');
}

/* https://github.com/googlefonts/MetrophobicFont */

@font-face {
	font-family: 'Metrophobic';
	font-weight: 300;
	font-style: normal;
	src: url('woff2/Metrophobic-Regular.woff2') format('woff2');
}
