@import 'syntax';
@import 'iliveinomaha';

//Fonts
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(http://fonts.gstatic.com/s/enriqueta/v5/iKmJkNq7osgLqqCZ6_EWc4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(http://fonts.gstatic.com/s/enriqueta/v5/-KTKVm0Mx9ZCRXL9CXVIbZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v8/bFTnH16NdZ5qlv4Xg5Q0aYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v8/EvPKapBawcLZ3hbihjhqAZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Variables
$serif: 'Enriqueta', serif;
$sans-serif: 'Istok Web', sans-serif;

// Mixins
@mixin sans-serif {
  font-family: sans-serif;
  &.font-enriqueta {
    font-family: $sans-serif;
  }
}

@mixin serif {
  font-family: serif;
  .font-istok-web & {
    font-family: $serif;
  }
}

/* Basic resets */
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* Post formatting */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

body {
  @include sans-serif;

  a {
    text-decoration: none;
    color: darken(skyblue, 30%);
    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  font-size: 2.2em;
  @media(min-width: 50em) {
    font-size: 4vw;
  }
  text-align: center;
  a {
    color: lighten(#000, 10%);
  }
}

h1,h2,h3,h4,h5,h6 {
  @include serif;
}
.main {
  max-width: 40em;
  margin: auto;
}

.main {
  font-size: 1.2em;
  line-height: 150%;
}

.contact {
  color: lighten(#000, 60%);
  font-size: 2.0em;
  line-height: 100%;
}

.highlight {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  pre {
    line-height: 100%;
  }
}

/* Blog structure */
.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    display: block;
    text-decoration: none;

    &:hover {
      background: darken(#fff, 10%);
    }
  }

  .blog-date {
    &:before {
      content: " - ";
    }
    font-family: monospace;
    color: lighten(#000, 50%);
  }
}

.all-posts {
  margin-top: 5em;
}
