:root {
  --rss-club-bg-color: #faf3de;
}
@media (prefers-color-scheme: dark) {
  :root {
    --rss-club-bg-color: #272822;
  }
}

.wrapper {
  background-color: var(--rss-club-bg-color);
  max-width: 18em;
  margin: auto;
  padding: 1em;
}

.exclusive {
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.exclusive a {
  text-decoration: none;
}
