.header {
  margin-bottom: 1.45rem;
}

.header--container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.header--title {
  margin: 0;
  font-size: 2.2rem;
  text-align: center;
}

.header--link {
  color: black;
  text-decoration: none;
}

.header--link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .header--title {
    font-size: 4vw;
  }
}
