{{ css }}
	.archive {
		list-style-type: none;
		padding-left: 0;

		li {
			font-size: var(--text-size);
			padding-top: 12px;
		}
		.date {
			color: var(--text-accent-color);
		}
	}
{{ /css }}

<ul class="archive">
	{{ for entry of collections.nonRssPosts |> reverse }}
		<li>
			<a href="{{ entry.url }}">{{ entry.data.title }}</a> - <span class="date">{{ entry.data.page.date |> year }}</span>
		</li>
	{{ /for }}
</ul>