<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          <div class="main">
            {{ content }}

            <hr>
            <footer>
              <div class="contact">
                <p>I'm Matt Steele, a programmer living in Omaha, Nebraska. You can find me on <a href="https://github.com/mattdsteele">GitHub</a> and <a href="https://twitter.com/mattdsteele">Twitter</a>.</p>
              </div>
            </footer>
            <section class="iliveinomaha">
              <a href="http://www.iliveinomaha.com"><span>I live in Omaha.</span></a>
            </section>
          </div>
        </div>
    </body>
</html>
