<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <link rel="alternate" href="/atom.xml" title="Post Feed" type="application/atom+xml">
    <script type="module" src="{{"/assets/lite-vimeo-embed.js" | url}}" defer></script>
    <script type="module" src="{{"/assets/lite-youtube.js" | url}}" defer></script>
</head>
<body>
<main>
{{ content | safe }}
</main>
<footer>
{% renderTemplate "webc" %}
    <about-me></about-me>
{% endrenderTemplate %}
</footer>
</body>
</html>