<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <link rel="alternate" href="/atom.xml" title="Post Feed" type="application/atom+xml">
</head>
<body>
<main>
{{ content | safe }}
</main>
<footer>
{% renderTemplate "webc" %}
    <about-me></about-me>
{% endrenderTemplate %}
</footer>
</body>
</html>