---
layout: 'layouts/base.njk'
---
{% if rss_only %}{% renderTemplate "webc" %}
    <rss-club></rss-club>
{% endrenderTemplate %}{% endif %}
<h1>{{title}}</h1>
<h2>{{postDate}}</h2>
{{ content | safe }}