{{ layout "layouts/base.vto" }}
<style webc:scoped="" webc:keep>
    h1 {
        &.title {
            font-size: 48px;
            text-align: center;
        }
    }
</style>

<section class="post">
    <h1 class="title">{{title}}</h1>
    {{if rssOnly}}
        {{ventoRender 'webc'}}
        <rss-club webc:if="rss_only"></rss-club>
        {{/ventoRender}}
    {{/if}}
    <h2>{{postDate}}</h2>
    <article>{{content}}</article>

    {{ include "webmentions.vto" }}
</section>
{{ /layout }}