name: notfoundbot
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: actions/setup-node@v4
        with:
          node-version: 22
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm ci
      - shell: bash
        env:
          WEBMENTION_IO_API: ${{ secrets.WEBMENTION_IO_API }}
        run: npm run build
      - run: npx webmention _site/atom.xml --limit 1 --send
